.container-proyectos {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    flex-wrap: wrap;
    padding-left: 60px;
}

@media screen and (max-width: 768px){
    .container-proyectos{
        padding: 0px 20px !important;
    }
}