.container-proyectos {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    flex-wrap: wrap;
    padding-left: 60px;
}

@media screen and (max-width: 768px){
    .container-proyectos {
        display: flex;
        justify-content: flex-start;
        min-height: 100vh;
        flex-wrap: wrap;
        padding-right: 30px !important;
        padding-left: 10px !important;
    }
}