.title-proyectos {
    margin: 60px;
}

.title-proyectos h2 {
    font-size: 4.5em;
    margin-top: 100px;
    font-weight: 700;
}

.heading-proyectos p {
    font-weight: 300;
    line-height: 1.8em;
}

.container-heading-proyectos {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}

.heading-proyectos {
    width: 30%;
}


.container-buttons {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container-buttons button {
    border: 2px solid;
    padding: 10px 15px;
    margin: 0px 5px;
    border-radius: 10px;
}

.container-vacio {
    margin: 60px;
    text-align: center;
}

.container-vacio h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #b7f200;
}
