.title-proyectos {
    margin: 60px;
}

.title-proyectos h2 {
    font-size: 4.5em;
    margin-top: 80px;
    font-weight: 700;
}

.heading-proyectos p {
    font-weight: 300;
    line-height: 1.8em;
}

.container-heading-proyectos {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}

.heading-proyectos {
    width: 30%;
}

.tipo-proyecto-desarrollo .submenu {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

ul.submenu li a {
    border: 1px solid;
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 10px;
    transition: .3s;
}

ul.submenu li a:hover{
    background: linear-gradient(90deg, rgba(94, 23, 234, 1) 0%, rgba(225, 53, 157, 1) 100%);
    color: #fff !important;
    border-color: #fff !important;
    transition: .3s;
}

.container-buttons {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container-buttons button {
    border: 2px solid;
    padding: 10px 15px;
    margin: 0px 5px;
    border-radius: 10px;
}

.container-vacio {
    margin: 60px;
    text-align: center;
}

.container-vacio h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #b7f200;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.loader-icon {
    font-size: 2em;
    animation: spin 1s linear infinite; /* Agrega la animación de giro */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px){
    .title-proyectos {
        margin: 20px;
    }
    .title-proyectos h2{
        margin-top: 40px;
    }
    .tipo-proyecto-desarrollo .submenu {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        margin-top: 40px;
    }
    .tipo-proyecto-desarrollo .submenu li {
        margin-bottom: 40px;
    }
}
