.navbar-container{
    position: relative;
}
.container-detail {
    margin: 60px 60px 60px;
}

.container-detail-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-title {
    width: 65%;
    padding-left: 50px;
}
.container-detail-subheading .detail-datos {
    width: 100% !important;
}

.detail-datos p{
    line-height: 1.8em;
}
.detail-title h2 {
    font-size: 7em;
    text-transform: uppercase;
    font-weight: 700;
}
h3.subtitle-detail {
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
a.link-visitar-web {
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: 500;
    transition: .3s ease-in-out;
    font-size: 16px;
}

a.link-visitar-web:hover{
    background-color: #5e17ea;
    color: #fff;
    border-color: #5e17ea;
    transition: .3s ease-in-out;
}
.container-detail-subheading {
    display: flex;
    padding-top: 80px;
    align-items: center;
}

.container-detail-heading .img1 img {
    height: 700px !important;
    width: 750px !important;
}
p.title-serv {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #b7f200;
}
.detail-title p {
    width: 90%;
    font-weight: 300;
    line-height: 1.8em;
}
.container-detail-images {
    margin: 80px 0px;
}
.container-detail-images img {
    margin-bottom: 80px;
}
.container-return-proyectos {
    position: fixed; /* Cambia a position: fixed */
    bottom: 10px;
    left: 50%; /* Alinea al centro horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
    background: #0f172a;
    width: 50%; /* Ajusta el ancho */
    max-width: 400px; /* Agrega un ancho máximo */
}
.container-return-proyectos a {
    border: 1px solid;
    padding: 8px 20px;
    margin: 10px 8px;
    border-radius: 8px;
}
a.link-web {
    background: #5e17ea;
    border-color: #5e17ea;
    transition: .3s;
}
a.link-web:hover {
    background: transparent;
    border-color: #fff;
    transition: .3s;
}
a.link-return{
    color: #edededb0;
    background: transparent;
    border-color: #edededb0;
    transition: .3s;
}
a.link-return:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
    transition: .3s;
}
.container-detail-description p {
    padding-top: 120px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5em;
    padding-bottom: 60px;
    font-weight: 300;
}

.container-detail-images div img {
    max-height: 600px;
    margin: auto;
}

@media screen and (max-width: 768px){
    .container-detail-heading {
        display: flex;
        flex-direction: column;
    }
    .container-detail {
        margin: 40px 20px;
    }
    .detail-title {
        width: 100%;
    }
    .detail-datos {
        width: 100%;
    }
    .container-detail-heading{
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .container-detail-heading .detail-title {
        padding-left: 0px;
        margin-bottom: 60px !important;
    }
    .container-detail-heading .detail-title h2 {
        font-size: 3em;
    }
    .container-detail-heading .detail-title h3 {
        font-size: 1.8em;
    }
    .container-detail-heading .img1 img {
        height: 400px !important;
    }
    .container-detail-subheading {
        padding-top: 40px;
        flex-direction: column;
    }
    p.title-serv {
        font-size: 1.8em;
        text-transform: uppercase;
        font-weight: 600;
        color: #b7f200;
        line-height: 1.5em;
    }
    .img2 {
        margin-top: 40px;
    }
    .container-detail-description p {
        padding-top: 60px;
        font-size: 16px;
        font-weight: 400;
    }
        
    .container-detail-images img {
        margin-bottom: 30px;
    }
    .container-detail-images img {
        height: 400px;
        object-fit: cover;
    }
    .container-detail-images {
        margin: 0px 0px 80px 0px;
    }
    .container-return-proyectos {
        width: 100% !important;
        max-width: 100% !important;
        bottom: 0px;
    }
}