.navbar-container{
    position: relative;
}
.container-detail {
    margin: 80px 60px 60px;
}

.container-detail-heading {
    display: flex;
    justify-content: space-between;
}
.detail-title {
    width: 60%;
}
.detail-datos {
    width: 25%;
    margin-top: 20px;
}
.detail-datos p{
    line-height: 1.8em;
}
.detail-title h2 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
p.title-serv {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #b7f200;
}
.detail-title p {
    width: 90%;
    font-weight: 300;
    line-height: 1.8em;
}
.container-detail-images {
    margin: 80px 0px;
}
.container-detail-images img {
    margin-bottom: 80px;
}
.container-return-proyectos {
    position: fixed; /* Cambia a position: fixed */
    bottom: 10px;
    left: 50%; /* Alinea al centro horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    padding: 25px 0px;
    border-radius: 10px;
    background: #0f172a;
    width: 50%; /* Ajusta el ancho */
    max-width: 400px; /* Agrega un ancho máximo */
}
.container-return-proyectos a {
    border: 1px solid;
    padding: 10px 30px;
    margin: 10px 8px;
    border-radius: 8px;
}
a.link-web {
    background: #5e17ea;
    border-color: #5e17ea;
    transition: .3s;
}
a.link-web:hover {
    background: transparent;
    border-color: #fff;
    transition: .3s;
}
a.link-return{
    color: #edededb0;
    background: transparent;
    border-color: #edededb0;
    transition: .3s;
}
a.link-return:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
    transition: .3s;
}



@media screen and (max-width: 768px){
    .container-detail-heading {
        display: flex;
        flex-direction: column;
    }
    .container-detail {
        margin: 40px 20px;
    }
    .detail-title {
        width: 100%;
    }
    .detail-datos {
        width: 100%;
    }
    .container-detail-images img {
        margin-bottom: 30px;
    }
    .container-detail-images img {
        height: 400px;
        object-fit: cover;
    }
    .container-return-proyectos {
        width: 100% !important;
        max-width: 100% !important;
        bottom: 0px;
    }
}